<?xml version="1.0" encoding="UTF-8"?>
<!-- https://docs.spring.io/spring-framework/docs/4.2.x/spring-framework-reference/html/xsd-configuration.html
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="credit" class="com.practice.serviceImpl.CreditCardPay"/>
    <bean id="debit" class="com.practice.serviceImpl.DebitCardPay"/>
	<bean id="pay" class="com.practice.controller.PaymentProcess">
		<property name="iCardPay" ref="debit"/>
		<constructor-arg name="iCardPay" ref="credit"></constructor-arg>
	</bean>
</beans>