<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- configuration to enable annotations in spring core application -->
	<context:annotation-config />

	<!-- XML configuration to read classes and create beans present in base 
		package and sub base package , If there are some classes outside these base 
		package then beans won't be created for those classes -->
	<context:component-scan
		base-package="com.practice" />
</beans>