<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>HtmltoJsptoDB</display-name>
	
	<servlet>
		<servlet-name>Demo</servlet-name>
		<jsp-file>/WEB-INF/pages/employee_processing.jsp</jsp-file>
		<init-param>
			<param-name>jdbcUrl</param-name>
			<param-value>jdbc:mysql://localhost:3306/localhost</param-value>
		</init-param>
		<init-param>
			<param-name>userName</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>Reddy@3816</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
</web-app>